* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Muli", Arial, sans-serif;
  background: #fff;
  color: #6c757d;
}

#navbar.sticky {
  padding: 5px 8rem;
  background-color: #fafafa;
}
#navbar.sticky .nav-link.active {
  color: #ff5f5f;
}
#navbar.sticky nav a {
  color: #000;
}

#navbar {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  transition: 0.6s;
  padding: 2rem 5rem;
}
#navbar nav {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  background-color: transparent;
}
#navbar nav .nav-brand {
  text-align: start;
  font-size: 2.2rem;
  color: #fff;
}
#navbar nav .menu {
  position: absolute;
  right: 1.5rem;
  top: 3rem;
  cursor: pointer;
  display: none;
  font-size: 1.8rem;
}
#navbar nav ul {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
#navbar nav ul li a {
  color: #f0f0f0;
  font-size: 1.6rem;
  opacity: 1;
}
#navbar nav ul li a.active {
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.6;
}
#navbar nav ul li a.active:hover {
  color: #fff;
}

#first-section .swiper-section-1 {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 1.9;
  position: relative;
}
#first-section .swiper-section-1 .swiper-wrapper .swiper-slide {
  background-image: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
#first-section .swiper-section-1 .swiper-wrapper .swiper-slide .color-rgba {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
#first-section .swiper-section-1 .swiper-wrapper .swiper-slide span {
  position: absolute;
  color: #fff;
  font-size: 7.2rem;
  left: 10rem;
  top: 25rem;
  width: 44%;
}
#first-section .swiper-section-1 .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#first-section .swiper-section-1 .swiper-wrapper .first-slide {
  background-image: url(../../img/slider-2.webp);
}
#first-section .swiper-section-1 .swiper-wrapper .second-slide {
  background-image: url(../../img/slider-3.webp);
}
#first-section .swiper-section-1 .swiper-wrapper .third-slide {
  background-image: url(../../img/slider-1.webp);
}
#first-section .swiper-section-1 .swiper-pagination-bullet {
  background-color: #f0f0f0;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.5rem;
  font-size: 1.4rem;
}
#first-section .tab-div {
  width: 100%;
  position: relative;
}
#first-section .tab-div .tab {
  display: flex;
  position: absolute;
  z-index: 100;
  top: -6rem;
  background-color: #fff;
  margin-left: 8rem;
}
#first-section .tab-div .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2rem 3rem;
  transition: 0.3s;
  font-size: 1.7rem;
  color: #ff5f5f;
}
#first-section .tab-div .tab button.active {
  background-color: #ff5f5f;
  color: #fff;
  margin-top: -1.5rem;
}
#first-section .tab-div .tabcontent {
  display: none;
  padding: 4.8rem;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #ff5f5f;
}
#first-section .tab-div .tabcontent .tab-input-div ::-moz-placeholder {
  color: #f0f0f0;
}
#first-section .tab-div .tabcontent .tab-input-div :-ms-input-placeholder {
  color: #f0f0f0;
}
#first-section .tab-div .tabcontent .tab-input-div ::placeholder {
  color: #f0f0f0;
}
#first-section .tab-div .tabcontent .tab-input-div .find-flights {
  background-color: #fff;
  padding: 1.5rem 3rem 1.2rem 3rem;
  color: #000;
  margin-left: 3rem;
  font-size: 1.3rem;
  border-color: rgba(255, 255, 255, 0.5);
}
#first-section .tab-div .tabcontent .tab-input-div input {
  font-size: 1.6rem;
  background: transparent;
  padding: 1.2rem 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: -15px;
  margin-left: 3rem;
  box-shadow: none;
}
#first-section .tab-div .tabcontent select {
  font-size: 1.6rem;
  background: transparent;
  padding: 1.2rem 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  margin-left: 3rem;
  box-shadow: none;
}

#video-content .container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
#video-content .container .video-image {
  position: relative;
  width: 50%;
  height: auto;
  background-position: center center;
  background-size: cover;
}
#video-content .container .video-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#video-content .container .video-play-button {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 3.2rem;
  height: 4.4rem;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 1.8rem 2rem 1.8rem 2.8rem;
}
#video-content .container .video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 10rem;
  height: 10rem;
  background: #ff5f5f;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}
#video-content .container .video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 10rem;
  height: 10rem;
  background: #ff5f5f;
  border-radius: 50%;
  transition: all 200ms;
}
#video-content .container .video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 3.2rem solid #fff;
  border-top: 2.2rem solid transparent;
  border-bottom: 2.2rem solid transparent;
}
@-webkit-keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
#video-content .container .content {
  padding: 8rem;
  width: 50%;
  align-items: center;
}
#video-content .container .content h2 {
  font-size: 2.8rem;
  margin-bottom: 5rem;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  width: 92%;
}
#video-content .container .content p {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  font-weight: 400;
  line-height: 1.8;
}

#tours {
  padding: 11rem 3rem;
}
#tours .cards {
  display: flex;
  justify-content: space-around;
}
#tours .cards figure {
  text-align: center;
}
#tours .cards figure .img {
  width: 20rem;
  height: 20rem;
}
#tours .cards figure .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 50px 13px rgba(0, 0, 0, 0.15);
}
#tours .cards figure figcaption {
  margin-top: 2rem;
}
#tours .cards figure figcaption h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 2rem;
}
#tours .cards figure figcaption p {
  margin-bottom: 2rem;
}
#tours .cards figure figcaption p .from {
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 5px;
}
#tours .cards figure figcaption p .price {
  font-size: 2rem;
  color: #000;
}
#tours .cards figure figcaption .read {
  font-size: 1.3rem;
  color: #ff5f5f;
  text-transform: uppercase;
}

#services {
  background-color: #f8f9fa;
  padding: 11rem 3rem;
}
#services h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5rem;
}
#services .content {
  display: flex;
  justify-content: space-around;
}
#services .content .service-card {
  margin-top: 5rem;
  text-align: -webkit-center;
  width: 25%;
}
#services .content .service-card .icon {
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f2f2f2;
}
#services .content .service-card .icon i {
  font-size: 6rem;
  color: #ff5f5f;
}
#services .content .service-card .service-content {
  text-align: center;
  width: 85%;
}
#services .content .service-card .service-content h3 {
  font-size: 2rem;
  margin: 2rem 0;
  color: #000;
  font-weight: 400;
}
#services .content .service-card .service-content p {
  font-size: 1.6rem;
  line-height: 2;
}

#card-group-tours {
  padding: 10rem 0;
}
#card-group-tours .heading {
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 3rem;
  padding-bottom: 9rem;
}
#card-group-tours .cards {
  display: flex;
  flex-wrap: wrap;
}
#card-group-tours .cards .card {
  cursor: pointer;
  position: relative;
  width: 25%;
  height: 40rem;
  background-size: cover;
  background-position: center center;
}
#card-group-tours .cards .card:hover .content .price {
  color: #000;
}
#card-group-tours .cards .card:hover .content .tour-destination {
  color: #000;
}
#card-group-tours .cards .card:hover .content .leader {
  color: #000;
}
#card-group-tours .cards .card:hover .content .ratings .rating i {
  color: #000;
}
#card-group-tours .cards .card:hover .content .ratings .review {
  color: #000;
}
#card-group-tours .cards .card:hover .white-space {
  height: 40%;
  background-color: white;
}
#card-group-tours .cards .card .white-space {
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
  width: 100%;
  height: 0;
}
#card-group-tours .cards .card .rgba {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
#card-group-tours .cards .card .content {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  line-height: 1.5;
}
#card-group-tours .cards .card .content .price {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
#card-group-tours .cards .card .content .tour-destination {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 400;
}
#card-group-tours .cards .card .content .leader {
  line-height: 2.5;
  font-size: 1.4rem;
  color: #fff;
  opacity: 0.6;
}
#card-group-tours .cards .card .content .ratings {
  display: flex;
  color: #fff;
}
#card-group-tours .cards .card .content .ratings .rating {
  margin-right: 10px;
}
#card-group-tours .cards .first {
  background-image: url(../../img/video.webp);
  background-color: rgba(0, 0, 0, 0.14);
}
#card-group-tours .cards .second {
  background-image: url(../../img/slider-1.webp);
  background-color: rgba(0, 0, 0, 0.14);
}
#card-group-tours .cards .third {
  background-image: url(../../img/third.webp);
  background-color: rgba(0, 0, 0, 0.14);
}
#card-group-tours .cards .fourth {
  background-image: url(../../img//fourth.webp);
  background-color: rgba(0, 0, 0, 0.14);
}
#card-group-tours .cards .fifth {
  background-image: url(../../img/fifth.webp);
  background-color: rgba(0, 0, 0, 0.14);
}
#card-group-tours .cards .sixth {
  background-image: url(../../img/sixth.webp);
  background-color: rgba(0, 0, 0, 0.14);
}
#card-group-tours .cards .seventh {
  background-image: url(../../img/seventh.webp);
  background-color: rgba(0, 0, 0, 0.14);
}
#card-group-tours .cards .eighth {
  background-image: url(../../img/eighth.webp);
  background-color: rgba(0, 0, 0, 0.14);
}

#guest-slide {
  padding: 11rem 3rem;
}
#guest-slide h2 {
  text-align: center;
  font-weight: 400;
  color: #000;
  font-size: 3rem;
  margin-bottom: 15rem;
}
#guest-slide .swiper {
  width: 100%;
  height: 100%;
  padding: 5rem 0;
}
#guest-slide .swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  background: #fff;
  height: 40rem;
  border: 1px solid #f0f0f0;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#guest-slide .swiper-slide .card {
  text-align: center;
  height: 100%;
  width: 100%;
}
#guest-slide .swiper-slide .card .img {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: -4rem;
  left: 40%;
  z-index: 100;
}
#guest-slide .swiper-slide .card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
#guest-slide .swiper-slide .card .text {
  position: absolute;
  left: 4rem;
  bottom: 3rem;
  width: 80%;
}
#guest-slide .swiper-slide .card .text .rating {
  margin-bottom: 5rem;
}
#guest-slide .swiper-slide .card .text .rating i {
  font-size: 1.1rem;
  color: #ff5f5f;
}
#guest-slide .swiper-slide .card .text .paragraph {
  font-size: 1.6rem;
  line-height: 2;
}
#guest-slide .swiper-slide .card .text .card-footer {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
#guest-slide .swiper-slide .card .text .card-footer .author {
  color: #ff5f5f;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
#guest-slide .swiper-slide .card .text .card-footer .country {
  font-size: 1.3rem;
}
#guest-slide .swiper-pagination .swiper-pagination-bullet {
  background-color: #ff5f5f;
  font-size: 3rem;
}
#guest-slide .hover {
  display: none;
}
#guest-slide .swiper:hover .hover {
  display: block;
}
#guest-slide .swiper:hover .swiper:hover::before .hover {
  display: block;
  transition: 0.5s;
}

#recommed {
  padding: 10rem 0;
}
#recommed .parent {
  width: 100%;
  display: flex;
}
#recommed .parent .email {
  width: 33%;
  padding: 13rem 6rem;
  background-color: #f8f9fa;
}
#recommed .parent .email h2 {
  font-size: 3rem;
  color: #000;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 5rem;
}
#recommed .parent .email .input-div {
  padding: 2rem 4rem;
  background-color: #f0f0f0;
}
#recommed .parent .email .input-div input {
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  padding: 1.5rem 2.5rem;
}
#recommed .parent .recommed-hotels {
  width: 60%;
  margin: 0 2rem 0 5rem;
}
#recommed .parent .recommed-hotels .heading {
  text-align: start;
  margin: 4rem 0 7rem 2rem;
  color: #000;
  font-size: 3rem;
  font-weight: 500;
}
#recommed .parent .recommed-hotels .cards {
  width: 100%;
  display: flex;
}
#recommed .parent .recommed-hotels .cards .card {
  cursor: pointer;
  position: relative;
  width: 33.3%;
  height: 40rem;
  background-size: cover;
  background-position: center center;
}
#recommed .parent .recommed-hotels .cards .card:hover .content .price {
  color: #000;
}
#recommed .parent .recommed-hotels .cards .card:hover .content .tour-destination {
  color: #000;
}
#recommed .parent .recommed-hotels .cards .card:hover .content .ratings .rating i {
  color: #000;
}
#recommed .parent .recommed-hotels .cards .card:hover .content .ratings .review {
  color: #000;
}
#recommed .parent .recommed-hotels .cards .card:hover .white-space {
  height: 40%;
  background-color: white;
}
#recommed .parent .recommed-hotels .cards .card .white-space {
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
  width: 100%;
  height: 0;
}
#recommed .parent .recommed-hotels .cards .card .rgba {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
#recommed .parent .recommed-hotels .cards .card .content {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  line-height: 1.5;
}
#recommed .parent .recommed-hotels .cards .card .content .price {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
#recommed .parent .recommed-hotels .cards .card .content .tour-destination {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 400;
}
#recommed .parent .recommed-hotels .cards .card .content .leader {
  line-height: 2.5;
  font-size: 1.4rem;
}
#recommed .parent .recommed-hotels .cards .card .content .ratings {
  display: flex;
  color: #fff;
}
#recommed .parent .recommed-hotels .cards .card .content .ratings .rating {
  margin-right: 10px;
}
#recommed .parent .recommed-hotels .cards .hotel1 {
  background-image: url(../../img/hotel1.webp);
  background-color: rgba(0, 0, 0, 0.14);
}
#recommed .parent .recommed-hotels .cards .hotel2 {
  background-image: url(../../img/hotel2.webp);
  background-color: rgba(0, 0, 0, 0.14);
}
#recommed .parent .recommed-hotels .cards .hotel3 {
  background-image: url(../../img/hotel3.webp);
  background-color: rgba(0, 0, 0, 0.14);
}

#our-blog {
  padding: 11rem 3rem;
  background-color: #fafafa;
}
#our-blog .heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: #000;
}
#our-blog .swiper {
  width: 100%;
  height: 100%;
  padding: 7rem 0;
}
#our-blog .swiper .swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#our-blog .swiper .swiper-slide .card {
  text-align: start;
}
#our-blog .swiper .swiper-slide .card .img {
  height: 25rem;
  width: 100%;
}
#our-blog .swiper .swiper-slide .card .img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  background-position: center center;
}
#our-blog .swiper .swiper-slide .card .content {
  height: auto;
  padding: 2.7rem;
}
#our-blog .swiper .swiper-slide .card .content .date {
  color: #cccccc;
  font-size: 1.5rem;
}
#our-blog .swiper .swiper-slide .card .content .content-paragraph {
  font-size: 2rem;
  color: #000;
  line-height: 1.7;
  margin: 1.5rem 0;
  cursor: pointer;
  transition: all 0.3s;
}
#our-blog .swiper .swiper-slide .card .content .content-paragraph:hover {
  color: #ff5f5f;
}
#our-blog .swiper .swiper-slide .card .content .card-content-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
#our-blog .swiper .swiper-slide .card .content .card-content-footer .read {
  color: #ff5f5f;
  font-size: 1.6rem;
}
#our-blog .swiper .swiper-slide .card .content .card-content-footer .icon {
  cursor: pointer;
  font-size: 1.6rem;
  color: #ccc;
}
#our-blog .swiper .swiper-pagination-bullet {
  background-color: #ff5f5f;
  border: 2px solid #000;
  width: 1.2rem;
  height: 1.2rem;
}

#footer {
  padding: 12.8rem 3rem;
  background-color: #2C2E3E;
}
#footer a, #footer span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
}
#footer .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer .footer .heading {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
}
#footer .footer ul li a:hover {
  color: #fff;
  transition: all 0.4s;
}
#footer .footer .first {
  width: 20%;
}
#footer .footer .first .first-heading {
  margin-bottom: 1.6rem;
}
#footer .footer .first span {
  line-height: 2;
}
#footer .footer .second {
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
#footer .footer .second ul {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}
#footer .footer .third {
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
#footer .footer .third ul {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}
#footer .footer .fourth {
  width: 15%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
#footer .footer .fourth ul {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}
#footer .footer .fourth ul li:first-child {
  line-height: 1.7;
}
#footer .footer .social ul {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
#footer .footer .social ul li {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
}
#footer .footer .social ul li:hover i {
  color: #fff;
  transition: all 0.6s;
}
#footer .footer .social ul li i {
  font-size: 2.6rem;
}

@media (max-width: 850px) {
  #navbar {
    background-color: #000;
    position: fixed;
  }
  #navbar nav {
    align-items: flex-start;
    flex-direction: column;
  }
  #navbar nav ul {
    width: 100%;
    display: none;
    flex-direction: column;
  }
  #navbar nav ul li {
    margin-top: 3rem;
  }
  #navbar nav .menu {
    display: flex;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 1rem;
  }
  #navbar nav .nav-brand {
    margin-top: 1.5rem;
  }
  #first-section .swiper .swiper-wrapper .swiper-slide .heading {
    font-size: 4rem;
  }
  #first-section .tab-div .tab {
    display: flex;
  }
  #first-section .tab-div .tabcontent .tab-input-div {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  #tours .cards {
    flex-wrap: wrap;
  }
  #tours .cards figure {
    width: 100%;
    text-align: -webkit-center;
  }
  #services .content {
    flex-wrap: wrap;
  }
  #services .content .service-card {
    width: 50%;
  }
  #card-group-tours .cards .card {
    width: 50%;
  }
  #recommed .parent {
    flex-wrap: wrap;
  }
  #recommed .parent .email {
    width: 100%;
  }
  #recommed .parent .email .input-div {
    padding: 3rem 2rem;
  }
  #recommed .parent .recommed-hotels {
    width: 100%;
  }
  #footer .footer .social ul {
    flex-direction: column;
    row-gap: 2rem;
  }
}
@media (max-width: 1200px) {
  #first-section .tab-div .tab {
    display: flex;
  }
  #first-section .tab-div .tabcontent .tab-input-div input {
    padding: 0.8rem;
  }
  #first-section .tab-div .tabcontent .tab-input-div select {
    padding: 0.8rem;
  }
  #first-section .tab-div .tabcontent .tab-input-div .find-flights {
    padding: 0.8rem;
  }
}
@media (max-width: 550px) {
  #tours .cards figure {
    margin-bottom: 4rem;
  }
  #services .content .service-card {
    width: 100%;
  }
  #card-group-tours .cards .card {
    width: 100%;
  }
  #recommed .parent .email {
    padding: 11rem 2rem;
  }
  #recommed .parent .recommed-hotels {
    margin: 0 1rem;
  }
  #recommed .parent .recommed-hotels .cards {
    flex-wrap: wrap;
  }
  #recommed .parent .recommed-hotels .cards .card {
    width: 100%;
  }
  #footer .footer {
    row-gap: 3rem;
  }
  #footer .footer .first {
    width: 100%;
  }
  #footer .footer .second {
    width: 100%;
  }
  #footer .footer .third {
    width: 100%;
  }
  #footer .footer .fourth {
    width: 100%;
  }
  #footer .footer .social {
    width: 100%;
  }
  #footer .footer .social ul {
    flex-direction: row;
  }
}
@media (max-width: 950px) {
  #video-content .container .video-image {
    width: 100%;
  }
  #video-content .container .video-play-button {
    top: 52%;
    left: 50%;
  }
  #video-content .container .content {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */